# Archivos de entorno
.env

# Dependencias de Node.js
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor y OS
.vscode/
.DS_Store
Thumbs.db

# Carpetas y proyectos específicos a ignorar
Desktop/
portfolio-tailwind/
Nueva carpeta \.vscode/